<footer>
<p>
  This site uses <a href="https://fonts.google.com/specimen/Libre+Baskerville" target="_blank">Libre Baskerville</a> for headings, and <a href="https://fonts.google.com/specimen/Lato" target="_blank">Lato</a> for body copy. Both are Google Fonts. Find the repo on <a href="{{ pkg.repository.url }}">GitHub</a>.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
<p><small>Template credit goes to <a href="https://twitter.com/philhawksworth" target="_blank">Phil Hawksworth</a>.</small></p>
</footer>
