<footer>
<p>This site uses <a href="https://fonts.google.com/specimen/Libre+Baskerville" target="_blank">Libre Baskerville</a> for headings, and <a href="https://fonts.google.com/specimen/Lato" target="_blank">Lato</a> for body copy. Both are Google Fonts. Responsive sizing handled by <a href="https://utopia.fyi" target="_blank">Utopia</a> Find the repo on <a href="{{ pkg.repository.url }}">GitHub</a>.
<br><br>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
<p><small>Eleventy template credit <a href="https://twitter.com/philhawksworth" target="_blank">Phil Hawksworth</a>.</small></p>
</footer>
