/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 1200px;

/* colours */
$page-color: #2424bb;
$text-color: #3b4348;
$accent-color: #27a4de;
$dark-color: #000;
$white-color: #fff;

